{% extends "base.html" %}
{% block content %}
<h1>Rekisteröityneet opiskelijat</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>nimi</th>
            <th>opiskelijanumero</th>
            <th>syntymaaika</th>
        </tr>
    </thead>

    <tbody>
        {% for opiskelija in opiskelijat %}
        <tr>
            <td><a href="{{base_path}}/opiskelijat/{{opiskelija.id}}">{{opiskelija.nimi}}</td>
            <td>{{opiskelija.opiskelijanro}}</td>
            <td>{{opiskelija.syntymaaika}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{base_path}}/uusioppilas" class="btn btn-default">Luo käyttäjä</a>

{% endblock %}