{% extends "base.html" %}
{% block content %}
<h1>{{kurssi.aihe}}</h1>

<ul>


    <li><strong>Kurssinumero:</strong> {{kurssi.id}}</li>
    <li><strong>Kurssimaksu:</strong> {{kurssi.kurssimaksu}}</li>
    <li><strong>Opettaja:</strong> <a href="{{base_path}}/opettajat/{{kurssi.opeid}}">{{kurssi.opeid}}</a></li>
    <li><strong>Kuvaus:</strong> {{kurssi.kuvaus}}</li>
    <li><strong>Aloitusaika:</strong> {{kurssi.aloituspvm}}, {{kurssi.aloitusaika}}</li>


</ul>

<form method="post" action="{{base_path}}/kurssit/{{kurssi.id}}/poista" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa kurssin?">
    <button type="submit" class="btn btn-danger">Poista</button></form>
<a href="{{base_path}}/kurssit/{{kurssi.id}}/muokkaa" class="btn btn-default">Muokkaa</a>


{% endblock %}