{% extends "base.html" %}
{% block content %}
<h1>Kurssitarjonta ja -paikan varaus</h1>
<a href="{{base_path}}/kurssit" class="btn btn-primary">Kurssit</a>
<a href="{{base_path}}/opiskelijat" class="btn btn-primary">Opiskelijat</a>

<h3>Kirjaudu sisään</h3>
<form method="post" action="{{base_path}}/login">
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input class="form-control" name="username" value="{{username}}" type="text">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input class="form-control" name="password" type="password">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
</form>

{% endblock %}