{% extends "base.html" %}
{% block content %}
<h1>Saatavilla olevat kurssit</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>aihe</th>
            <th>kurssimaksu</th>
            <th>kuvaus</th>
            <th>aloituspvm</th>
            <th>aloitusaika</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for kurssi in kurssit %}
        <tr>
            <td><a href="{{base_path}}/kurssit/{{kurssi.id}}">{{kurssi.aihe}}</td>
            <td>{{kurssi.kurssimaksu}}</td>
            <td>{{kurssi.kuvaus}}</td>
            <td>{{kurssi.aloituspvm}}</td>
            <td>{{kurssi.aloitusaika}}</td>
            <td><form method="post" action="{{base_path}}/kurssit/{{kurssi.id}}/ilmoittaudu">
                    <button type="submit" class="btn btn-default">Ilmoittaudu kurssille</button></form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{base_path}}/uusikurssi" class="btn btn-default">Luo kurssi</a>

{% endblock %}