{% extends "base.html" %}
{% block content %}
<h1>Kurssin tietojen muokkaus</h1>

<form method="post" action="{{base_path}}/kurssit/{{kurssi.id}}">
    <div class="form-group">
        <label>Aihe</label>
        <input class="form-control" name="aihe" value="{{kurssi.aihe}}" type="text">
    </div>

    <div class="form-group">
        <label>Kurssin opettajan tunnusnumero</label>
        <input name="openro" class="form-control" value="{{kurssi.openro}}" type="text">
    </div>

    <div class="form-group">
        <label>Aloituspäivämäärä</label>
        <input placeholder="YYYY-MM-DD" name="aloituspvm" class="form-control" value="{{kurssi.aloituspvm}}" type="text">
    </div>

    <div class="form-group">
        <label>Aloitusaika</label>
        <input placeholder="hh:mm:ss" name="aloitusaika" class="form-control" value="{{kurssi.aloitusaika}}" type="text">
    </div>

    <div class="form-group">
        <label>Kurssimaksu</label>
        <input name='kurssimaksu' class="form-control" value="{{kurssi.kurssimaksu}}" type="text">
    </div>

    <div class="form-group">
        <label>Kuvaus</label>
        <input name='kuvaus' class="form-control" value="{{kurssi.kuvaus}}" type="text">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
    </div>
</form>
{% endblock %}