{% extends "base.html" %}
{% block content %}
<h1>Opiskelija</h1>

<ul>

    <li><strong>Nimi:</strong> {{opiskelija.nimi}}</li>
    <li><strong>Opiskelijanumero:</strong> {{opiskelija.opiskelijanro}}</li>
    <li><strong>Syntymäaika:</strong> {{opiskelija.syntymaaika}}</li>

</ul>

<h4><strong>Ilmoittautumiset:</strong></h4>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>kurssin ID</th>
            <th>kurssimaksu maksettu</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for ilmoittautuminen in ilmoittautumiset %}
        <tr>
            <td><a href="{{base_path}}/kurssit/{{ilmoittautuminen.kurssi_id}}">{{ilmoittautuminen.kurssi_id}}</td>
            <td>{{ilmoittautuminen.kurssimaksu}}</td>
            <td><form method="post" action="{{base_path}}/ilmoittautuminen/{{ilmoittautuminen.id}}/poista" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa ilmoittautumisesi?">
                    <button type="submit" class="btn btn-danger">Poista</button></form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="post" action="{{base_path}}/opiskelijat/{{opiskelija.id}}/poista" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa opiskelijan?">
    <button type="submit" class="btn btn-danger">Poista</button></form>
<a href="{{base_path}}/opiskelijat/{{opiskelija.id}}/muokkaa" class="btn btn-default">Muokkaa</a>


{% endblock %}