{% extends "base.html" %}
{% block content %}
<h1>Opiskelija</h1>

<ul>

    <li><strong>Nimi:</strong> {{opiskelija.nimi}}</li>
    <li><strong>Opiskelijanumero:</strong> {{opiskelija.opiskelijanro}}</li>
    <li><strong>Syntymäaika:</strong> {{opiskelija.syntymaaika}}</li>

</ul>


<form method="post" action="{{base_path}}/opiskelijat/{{opiskelija.id}}/poista" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa opiskelijan?">
    <button type="submit" class="btn btn-danger">Poista</button>
</form> <a href="{{base_path}}/opiskelijat/{{opiskelija.id}}/muokkaa" class="btn btn-default">Muokkaa</a>


{% endblock %}