{% extends "base.html" %}
{% block content %}
<h1>Opiskelija</h1>

<ul>

    <li><strong>Nimi:</strong> {{opiskelija.nimi}}</li>
    <li><strong>Opiskelijanumero:</strong> {{opiskelija.opiskelijanro}}</li>
    <li><strong>Syntymäaika:</strong> {{opiskelija.syntymaaika}}</li>

</ul>

<p>
    <a href="{{base_path}}/opiskelijat/{{opiskelija.id}}/poista" class="btn btn-danger">Poista</a> <a href="{{base_path}}/opiskelijat/{{opiskelija.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
</p>

{% endblock %}